.header_imagen {
  --opacidad-negro: 0.3;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--opacidad-negro)),
      rgba(0, 0, 0, var(--opacidad-negro))
    ),
    url(../public/img/fondos/zanas.jpg);
    align-items: center;
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
display: flex;
height: 50rem;
justify-content: center;
}

.header_imagen h1{
color: var(--white);
font-size: 5rem;
}



.contenido{
    display: grid;
    grid-template-rows: auto;
    gap: 4rem;
   padding-bottom: 5rem;
}

@media (min-width: 768px) {
    .contenido{
        grid-template-columns: 4fr 2fr;

    }
}

.contenido article p{
    text-align: justify;
}